general {
    col.active_border = rgba({{ colors.primary.hex | replace('#', '') }}ff)
    col.inactive_border = rgba({{ colors.surface_container.hex | replace('#', '') }}ff)
    col.nogroup_border = rgba({{ colors.surface_variant.hex | replace('#', '') }}ff)
}

decoration {
    col.shadow = rgba({{ colors.shadow.hex | replace('#', '') }}ee)
}
