* {
    bg:     {{ colors.surface_container.hex }};
    bg-alt: {{ colors.surface_variant.hex }};
    bg-hl:  {{ colors.primary_container.hex }};
    fg:     {{ colors.on_surface.hex }};
    fg-alt: {{ colors.on_surface_variant.hex }};
    fg-hl:  {{ colors.primary.hex }};
    urgent: {{ colors.error.hex }};
    border: {{ colors.primary.hex }};
}
